# for data science
numpy
pandas
scikit-learn
tqdm
awscli
matplotlib
jupyter
holidays==0.9.8
fbprophet
plotly

# for pytorch
torch
torchvision
visdom

# for sqa
pylint
flake8
coverage
pytest
pytest-flake8
pytest-cov
pytest-xdist
pytest-html
pudb
Sphinx
click

# other tools
jq
flask

